@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

:root {
    --bgColor1: #eceff1;
    --bgColor2: #2196f3;
    --bgColor3: #0d47a1;
    --titleColor: #0d47a1;
    --fontColor: #546e7a;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: var(--bgColor1);
}




/*--------------- navbar ---------------*/

.navbar {
    background-color: var(--bgColor2);
    
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    text-align: center;
}

.navbar li {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    transition: .3s;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
}

.navbar li:hover {
    background-color: var(--bgColor3);
}




/*--------------- item ---------------*/

h1 {
    text-align: center;
    color: var(--titleColor);
    font-weight: 700;
    padding: 50px;
}

table {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    border-collapse: collapse;

    border-radius: 10px;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.1);
    
    overflow: hidden;

    background-color: white;

    font-size: 14px;
}

thead tr {
    background-color: var(--bgColor2);
}

thead tr th {
    padding: 15px;
    text-align: center;
    color: var(--titleColor);
    font-weight: 600;
    text-align: left;
    color: white;
}

tbody tr td {
    padding: 15px;
    font-weight: 600;
    color: var(--fontColor);
}

tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}




/*--------------- icons ---------------*/

tbody tr td a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}




/*--------------- new ---------------*/

.new {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    text-align: right;
}

.new a {
    /* color: inherit; blue colors for links too */
    color: white;
    text-decoration: inherit; /* no underline */
    background-color: var(--bgColor2);
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 10px;
    transition: 0.3s;

    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.1);
}

.new a:hover {
    background-color: var(--bgColor3);
}

.new a i {
    /* vertical-align: middle; */
    position: relative;
    top: 6px;
}
